<div class="example-container">
  <mat-toolbar class="example-toolbar">
    <button mat-raised-button (click)="snav.toggle()">Bet Panel</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" style.marginTop.px=" 0">
    <mat-sidenav #snav mode="side">
      <app-wager-form></app-wager-form>
    </mat-sidenav>


    <mat-sidenav-content>
      <app-active-bet></app-active-bet>
      <app-closed-bet></app-closed-bet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

